
<div class="features section-spacing">
  <div class="container narrow-882 text-center">
    <div class="row">
      <div class="col-sm-4 summarystats">
        <div class="content" id="sentiment">
          <h4>Average Sentiment</h4>
          <h2><%= @sentiment_score %></h2>
        </div>
      </div>

      <div class="col-sm-4 summarystats">
        <div class="content" id="num_tweet">
          <h4>Number of Tweets</h4>
          <h2><%= @num_tweets %></h2>
        </div>
      </div>

      <div class="col-sm-4 summarystats">
        <div class="content" id="num_retweet">
          <h4>Number of Retweets</h4>
          <h2><%= @num_retweets %></h2>
        </div>
      </div>

    </div>

    <div class="row mt40">
      <div class="col-sm-8">
          <canvas id="myChart" width="200" height="350"></canvas>
          <script>
          var ctx = document.getElementById("myChart").getContext('2d');
          var data_points = <%=raw @clusters_data.to_json %>;

          var colors = ["#E53935", "#D25030", "#C0672C", "#AD7F28", "#88AE1F", "#76C51B", "#64DD17"];

          data_points.forEach(function(el, indx) {
            if (el.data[0].y > 0) {
              var colors_reverse = colors.reverse();
              el.backgroundColor = colors_reverse[indx];
            } else {
              el.backgroundColor = colors[indx];
            }
          });

          var myChart = new Chart(ctx, {
              type: 'bubble',
              data: {
                datasets: data_points
              },
              options: {
                legend: {
                    display: false
                 },
                title: {
                  display: false,
                  text: 'Tweets clusters'
                },
                scales: {
                  yAxes: [{
                    scaleLabel: {
                      display: false,
                      labelString: "Sentiment"
                    },
                    ticks: {
                      display: false
                    }
                  }],
                  xAxes: [{
                    display: false
                  }]
                },
                responsive: true,
                maintainAspectRatio: false,
                onClick: function(e) {
                    var elements = this.getElementAtEvent(e);
                    // If you click on at least 1 elements ...
                    if (elements.length > 0) {
                        // Logs it
                        // Here we get the data linked to the clicked bubble ...
                        element = elements[0]
                        console.log(element);
                        element.custom = element.custom || {};
                        element.custom.backgroundColor = "#333333";

                        var datasetID = this.config.data.datasets[elements[0]._datasetIndex].id;
                        // data gives you `x`, `y` and `r` values
                        // var data = this.config.data.datasets[elements[0]._datasetIndex].data[elements[0]._index];

                        var cluster_divs = $(document.querySelectorAll("[data-tag]"))
                        cluster_divs.each(function(){
                            $(this).addClass('hidden');
                            if ($(this).data('tag') == datasetID) {
                              $(this).removeClass('hidden')
                            }
                        })
                    }
                }
              }
          });
          </script>
      </div>

      <% @clusters.each do |cluster| %>
        <div class="col-sm-4 chart pre-scrollable cluster-data hidden" data-tag=<%= cluster['id'] %> >
          <% @tweets[cluster['id']].each do |tweet|  %>
            <%= raw(tweet.html) %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
