
<div class="features section-spacing">
  <div class="container narrow-882 text-center">
    <div class="row">
      <div class="col-sm-4 summarystats">
        <div class="content">
          <h4>Average Sentiment</h4>
          <h2 id="sentiment_score"><%= @sentiment_score %></h2>
        </div>
      </div>

      <div class="col-sm-4 summarystats">
        <div class="content">
          <h4>Number of Tweets</h4>
          <h2 id="num_tweets"><%= @num_tweets %></h2>
        </div>
      </div>

      <div class="col-sm-4 summarystats">
        <div class="content">
          <h4>Number of Retweets</h4>
          <h2 id="num_retweets"><%= @num_retweets %></h2>
        </div>
      </div>

    </div>

    <div class="row mt40">
      <div class="col-sm-8">
          <canvas id="myChart" width="200" height="350"></canvas>
      </div>

      <% @clusters.each do |cluster| %>
        <div class="col-sm-4 chart pre-scrollable cluster-data hidden" data-tag=<%= cluster['id'] %> >
          <% @tweets[cluster['id']].each do |tweet|  %>
            <%= raw(tweet.html) %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
